
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <!--including plotlyjs library-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Performance</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>

      <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous">

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>


    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
    </head>


  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="http://su18-cs411-06.cs.illinois.edu">NBA++</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://su18-cs411-06.cs.illinois.edu">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="http://su18-cs411-06.cs.illinois.edu/year">Loyal Player</a>
              <a class="dropdown-item" href="http://su18-cs411-06.cs.illinois.edu/Hall_of_Fame">Hall of Fame</a>
              <a class="dropdown-item" href="http://su18-cs411-06.cs.illinois.edu/Championship">Championship</a>
              <a class="dropdown-item" href="http://su18-cs411-06.cs.illinois.edu/HSM">Highest Score in a Single Match</a>
              <a class="dropdown-item" href="http://su18-cs411-06.cs.illinois.edu/HASS">Highest Average Score in a Season</a>
            </div>
          </li>
        </ul>
        <form method="get" class="form-inline my-2 my-lg-0">
          <input id="search_box4" name="search_box4" class="form-control mr-sm-2" type="text" placeholder="Search for the player" aria-label="Search">
          <button id="search_submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>



    <main role="main" class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <h1 class="lead"><br> Player data is here!</h1>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">2 Point Percentage</th>
              <th scope="col">3 Point Percentage</th>
              <th scope="col">Field Goal</th>
              <th scope="col">Free Throw</th>
              <th scope="col">Effective Field Goal Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ result.0.0}}</th>
              <td>{{ result.0.1}}</td>
              <td>{{ result.0.2}}</td>
              <td>{{ result.0.3}}</td>
              <td>{{ result.0.4}}</td>
              <td>{{ result.0.5}}</td>
            </tr>
          </tbody>
        </table>

        <div id = "graph" style="height: 1000px">
          Average Player Performance Plot
        </div>



      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')



      // polt
      var data = [{
      type: 'scatterpolar',
      r: [100*{{ result.0.1}}, 100*{{ result.0.2}}, 100*{{ result.0.3}}, 100*{{ result.0.4}}, 100*{{ result.0.5}}],
//          r:[i.Number_2p_percent,i.Number_3p_percent,i.fg_percent,i.ft_percent,i.efg_percent]
      theta: ['2 Point Percentage','3 Point Percentage','Field Goal', 'Free Throw', 'Effective Field Goal Percentage'],
      fill: 'toself'
        }]

      var layout = {
        polar: {
        radialaxis: {
        visible: true,
        range: [0, 100]
           }
          },
          showlegend: true
      }

      Plotly.plot("graph", data, layout)
     </script>
  </body>




</html>



